
/*
    <================Slider de imagenes==============>
*/

.menu-imagenes {
    max-height: 39rem;
}






/*
    <================Competencias==============>
*/

#intro h1 {
    border-color: var(--bs-orange) !important;
}

#competencias {
    margin-top: 7rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

#competencias h1 {
    border-color: var(--bs-orange) !important;
    margin-bottom: 6rem;
}

.competencias-fila .contenedor-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icono-colum .contenedor-img {
    position: relative;
    height: 100%;
}

.icono-colum .contenedor-img:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000005b;
}

#competencias .icono-colum h3 {
    position: absolute;
    color: var(--bs-orange);
    text-shadow: 1px 1px 10px #000;
}


/*
    <=======================Proximo WRC=======================-->
*/

.mapa {
    width: 100%;
    height: 500px;
    background-image: url(https://acnews.blob.core.windows.net/imgnews/paragraph/NPAZ_6c17df285e7f4f2a9e446e0361edea8a.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

#local {
    padding-top: 10rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.calendario-paises {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendario-paises ol {
    list-style: none;
}

.calendario-paises ol li {
    margin: .8rem 0;
}

.calendario-paises ol li span {
    color: var(--bs-orange);
    font-weight: bold;
}

.titulo-pruebas {
    font-size: 5rem;
    color: var(--bs-orange);
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.contenedor-pruebas {
    position: relative;
    max-width: 1000px;
    max-height: 500px;
}

.imagen-prueba {
    object-fit: cover;
}

.contenedor-pruebas:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000033;
}

.informacion-prueba {
    position: absolute;
    bottom: 6rem;
    width: 45%;
    
    z-index: 100;
}

.informacion-prueba h5 {
    background: #f3f3f3;
    padding: 1rem;
    font-size: 1.4rem;
    border-bottom: .3rem solid var(--bs-orange);
    
}

.bandera {
    width: 125px;
    height: 75px;
    margin: 2.5rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}





@media (max-width:950px) {
    .informacion-prueba h5 {
        font-size: 1rem;
    }

}

@media (max-width:576px) {
    .informacion-prueba {
        bottom: 3rem;
    }

    .informacion-prueba h5 {
        font-size: .7rem;
    }

    .bandera {
        width: 75px;
        height: 50px;
        margin: 1.5rem;
    }

    .titulo-pruebas {
        font-size: 3rem;
    }
}