
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }


body {
    overflow-x: hidden;
}

.color-principal {
    color: var(--bs-orange);
}


/*
    <================Menu==============>
*/


#menu a {
    font-size: 18px;
    font-weight: bold;
    color: #DDDDDD;
}

#menu a > span {
    color: var(--bs-orange);
}

#menu button {
    font-size: 18px;
    font-weight: bold;
}

.dropdown-item {
    color: #575757 !important; 
}


/*
    <================Footer==============>
*/


footer {
    height: 16vh;
    border-top: .2rem solid var(--bs-orange);
    background: rgb(34, 34, 34);
}


/*
    <================Media querys pantalla MEDIA==============>
*/


@media (max-width: 1200px) {
    #local {
        flex-wrap: wrap;
        padding-top: 5rem;
    }

    .wrapper {
        width: 90%;
        margin: auto;
    }

    .wrapper h2:nth-child(1) {
        font-size: 3rem !important;
    }
}


/*
    <================Media querys pantalla CHICA==============>
*/

@media (max-width:768px) {
    #intro {
        width: 90% !important;
    }

    .wrapper h2:nth-child(1) {
        font-size: 2rem !important;
        text-align: center;
    }
}

/*
    <================Media querys pantalla MUY CHICA==============>
*/

@media (max-width:576px) {
    .icono-colum {
        padding: 0;
    }

    .mapa {
        max-height: 400px;
        background-position: top;
    }

    .calendario-paises ol li {
        font-size: 1.1rem !important;
    }

   
}

